/**
 * var.scss
 */

// color setting
$fontColor:#3c3c3c;

$red: #a00;
$gray: #848484;
$white: #fff;
$lightGray: #aaa;

$blue:#0084ff;
$lightBlue:#66b5ff;

$yellow:#e5bb0c;

// background
$bgGray: #aaa;
$bgHighLightGray: #f3f3f3;

// border
$grayBorder:#ccc;
$lightBorder: #d9d9d9;
//